body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background: #fff;
}

#container {
  width: 600px;
  margin: 4rem auto;
}

h1 {
  text-align: center;
}

p:first-child {
  margin-top: 0;
}

#pong-game {
  border: 10px solid #efefef;
}

.left { float: left; }
.right { float: right; }

#help {
  margin-top: 2em;
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 0.5em;
}

kbd {
  font-family: Menlo, Courier, monospace;
}
